# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/out
/.idea
*.iml
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.core.resources.prefs
